language: python
cache: pip

python: 2.7

before_install:
  - export GALAXY_RELEASE=release_18.09

install:
  - pip install flake8 flake8-import-order planemo
  - planemo conda_init
  - ~/miniconda3/bin/conda install -y -c conda-forge conda=4.3.34
  - planemo --version
  - ~/miniconda3/bin/conda --version
  - echo $TRAVIS_COMMIT_RANGE
  - |
    planemo ci_find_repos --exclude data_managers \
                          --exclude packages \
                          --exclude_from .tt_blacklist \
                          --changed_in_commit_range "$TRAVIS_COMMIT_RANGE" \
                          --output changed_repositories.list
  - cat changed_repositories.list

script:
  - set -e
  - cd "$TRAVIS_BUILD_DIR" && flake8 --exclude=.git,./deprecated/ .
  - while read -r DIR; do planemo shed_lint --tools --ensure_metadata --urls --report_level warn --fail_level error --recursive "$DIR"; done < changed_repositories.list
  - while read -r DIR; do planemo test --conda_dependency_resolution --conda_auto_install --galaxy_branch "$GALAXY_RELEASE" "$DIR"; done < changed_repositories.list
